* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html2 {
  scroll-behavior: smooth;
}

.header-container__logo h1 {
  font-size: 2rem;
  line-height: 2.2rem;
  color: #545454;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 31px;
  letter-spacing: 2px;
}

.header-container__logo h1:hover {
  color: white;
}

.header-container__logo p {
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  color: #545454;
}

.header-container__logo h3,
.header-container__logo h4,
.header-container__logo h5 {
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
}

:root {
  --main-color: #fff; /*light mode: black*/
  --contrast-color: #000; /*light mode: white*/
  --accent-color: #bdae82; /*light mode: black */
  --hover-color: #bdae82; /*light mode: white*/
  --button-color: #bdae82; /*no change*/
  --light-color: transparent; /*light mode: #bdae82*/
  --active-color: #000; /*light mode: #bdae82*/
  --wrapper-color: rgba(0, 0, 0, 0.5); /*no change*/
  --wrapper-form: rgba(0, 0, 0, 0.5); /*light mode: rgba(255, 255, 255, 0.5)*/
}

.bubble-button {
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
}
.bubble-button:focus {
  outline: 0;
}
.bubble-button:before,
.bubble-button:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
  z-index: 5;
}
.bubble-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, var(--accent-color) 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, var(--accent-color) 20%, transparent 30%),
    radial-gradient(circle, var(--accent-color) 20%, transparent 20%),
    radial-gradient(circle, var(--accent-color) 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, var(--accent-color) 15%, transparent 20%),
    radial-gradient(circle, var(--accent-color) 20%, transparent 20%),
    radial-gradient(circle, var(--accent-color) 20%, transparent 20%),
    radial-gradient(circle, var(--accent-color) 20%, transparent 20%),
    radial-gradient(circle, var(--accent-color) 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.bubble-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, var(--accent-color) 20%, transparent 20%),
    radial-gradient(circle, var(--accent-color) 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, var(--accent-color) 15%, transparent 20%),
    radial-gradient(circle, var(--accent-color) 20%, transparent 20%),
    radial-gradient(circle, var(--accent-color) 20%, transparent 20%),
    radial-gradient(circle, var(--accent-color) 20%, transparent 20%),
    radial-gradient(circle, var(--accent-color) 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubble-button:active {
  transform: scale(0.9);
  background-color: var(--accent-color);
  box-shadow: 0 2px 25px var(--accent-color);
}
.bubble-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
.bubble-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}
@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

/* ==================================HEADER=================================== */

.header {
  width: 1280px;
  display: flex;
  margin: 0 auto;
  background: #ffffff;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.header-container {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.header-container__logo p {
  font-size: 0.8125rem;
  line-height: 0.936rem;
  letter-spacing: 1.5px;
}

.header-container__menu nav ul {
  list-style-type: none;
  display: flex;
}

.active a {
  border-bottom: 3px solid #f1cdb3;
}

.header-container__menu {
  margin-top: auto;
  margin-bottom: 19px;
}

.header-container__menu a {
  text-decoration: none;
  font-size: 0.9375rem;
  line-height: 1.5rem;
  color: #545454;
  font-family: Arial;
  font-style: normal;
  margin-left: 36px;
}

.header-container__menu a:hover {
  color: #f1cdb3;
}

/* SECTION OUR-FRIENDS-TWO  */

.pets {
  width: 1280px;
  margin: 0 auto;
}

.pets-container {
  width: 1200px;
  margin: 0 auto;
}

.pets-container__name {
  width: 400px;
  margin: auto;
  margin-top: 110px;
  margin-bottom: 59px;
}

.pets-container__name h3 {
  font-size: 2.1875rem;
  line-height: 2.8325rem;
  color: #545454;
  text-align: center;
  letter-spacing: 2.5px;
}

.pets-container__img {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pets-container__img p {
  font-size: 1.25rem;
  line-height: 1.4365rem;
  color: #545454;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 23px;
  margin-bottom: 30px;
  cursor: pointer;
}

.pets-container__img p:hover {
  color: #d3b6a2;
}

.pets-container__img button {
  width: 187px;
  height: 52px;
  border-radius: 100px;
  border-color: #f1cdb3;
  color: #292929;
  font-size: 1.0625rem;
  line-height: 1.375rem;
  font-family: Georgia;
  font-style: normal;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  white-space: nowrap;
  margin-bottom: 63px;
}

.pets-container__img img:hover {
  transform: scale(1.2);
}

.pets-container__img button:hover {
  background-color: #fddcc4;
}

.pets-container__img2 img {
  width: 270px;
  height: 270px;
}

.pets-container__button {
  width: 345px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 26px;
}

.pets-container__button button {
  border: none;
  cursor: pointer;
}

.pets-container__button img:hover {
  background-color: #FDDCC4;
}

/* FOOTER-TWO  */

.footer {
  width: 1280px;
  margin: 0 auto;}

.footer-container {
  width: 1200px;
  margin: 0 auto;
  align-items: center;
}

.footer-container__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-container__name-left h3,
.footer-container__name-right h3 {
  font-size: 2.1875rem;
  line-height: 2.8125rem;
  letter-spacing: 2.5px;
  color: #ffffff;
  }

.email {
  margin-top: 45px;
  margin-bottom: 48px;
  display: flex;
}

.email img {
  width: 40px;
  height: 26px;
  margin-right: 20px;
}

.footer-container__name-left {
  width: 278px;
}

.footer-container__left h4 {
  color: #f1cdb3;
  font-size: 1.25rem;
  letter-spacing: 1px;
  line-height: 1.4375rem;
  font-family: Georgia;
  font-weight: 400;
}

.footer-container__left a {
  text-decoration: none;
}

.phone {
  display: flex;
}

.phone img {
  width: 40px;
  height: 32px;
  margin-right: 20px;
}

.footer-container__name-right {
  width: 320px;
  margin-bottom: 34px;
}

.footer-container__name-right h3 {
  margin-bottom: 34px;
  margin-left: 10px;
}

.adress-one {
  margin-bottom: 38px;
  width: 321px;
}

.adress-one,
.adress-two {
  display: flex;
  align-items: center;
  text-align: center;
}

.adress-one a,
.adress-two a {
  text-decoration: none;
}

.adress-one img,
.adress-two img {
  width: 22px;
  height: 32px;
  margin-left: 8px;
}

.adress-one h4,
.adress-two h4 {
  font-size: 1.25rem;
  line-height: 1.4375rem;
  letter-spacing: 1.5px;
  color: #f1cdb3;
  font-family: Georgia;
  font-weight: 400;
  cursor: pointer;
  margin-left: 15px;
}

.footer-container__puppyimg {
  width: 300px;
  height: 310px;
  margin-top: 40px;
}

.adress-one h4:hover,
.adress-two h4:hover {
  color: #f8f0f0;
}

.email h4:hover,
.phone h4:hover {
  color: #f8f0f0;
}

.wrapper{
  background: linear-gradient(#554437, #222021);
}


.btn-up {
  background: #ffebd4;
  height: 70px;
  width: 70px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 20px 25px rgba(87, 87, 87, 0.1);
  opacity: .5;
  display: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512' fill='%23505050' xml:space='preserve'%3E%3Cpath d='m374.176 110.386-104-104.504-.019-.018c-7.818-7.832-20.522-7.807-28.314.002l-.019.018-104 104.504c-7.791 7.829-7.762 20.493.068 28.285 7.829 7.792 20.492 7.762 28.284-.067L236 68.442V492c0 11.046 8.954 20 20 20s20-8.954 20-20V68.442l69.824 70.162c7.792 7.829 20.455 7.859 28.284.067 7.831-7.793 7.858-20.457.068-28.285z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  transition: opacity .3s;
}


/* ===================== ELEMENT: MODAL WINDOW===========================*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: var(--wrapper-color);
  z-index: 2;
}

.message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  width: 100%;
  min-height: 30%;
  padding: 40px 50px 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--hover-color);
  border-radius: 10px;
}

.icon-close {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 32px;
  cursor: pointer;
}

.message-text,
.message-sign {
  line-height: 1.5;
  color: #000;
}

.message-sign {
  margin-top: 15px;
  text-align: right;
}

.message-link {
  font-weight: 700;
}

.hidden {
  display: none;
}